
.status-bar {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    background-color: #73664A;
    color: #fff;
    font-family: 'San Francisco', Arial, sans-serif;
    font-size: 14px;
    padding: 8px 10px;
    height: 20px;
    width: 95%; 
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    position: absolute; 
    top: 0; 
    left: 0;
}

.status-bar .left {
    display: flex;
    align-items: center;
}

.statusIcons {
    position: relative;
    left: 300px;
}



