<body>
    <p class="search">Busquedas recientes</p>
    <div class="container">
        <button>Bloody Mary</button>
        <button>Espejos Rotos</button>
        <button class="noclean">No barrer de noche</button>
        <button>03:00 AM</button>
        <button class="brain">Usamos 10% del cerebro</button>
    </div>
        <div class="searcher">
            <p>¿Las sirenas existe?<img src="searcher.png" class="searchimg"></p>
        </div>
        <p class="title">Buscador</p>
        <p class="title2">Quizz</p>
        <div class="firtsimg">
            <img src="img1.png" alt="">
            <p>¿MITOS O VERDAD?</p>
        </div>
        <p class="explore">Explorar</p>
        <div class="imgscroll">
            <img src="fantasy.png" alt="">
            <p>Mitos de fantasia</p>
            <img src="doubts.png" alt="">
            <p>Dudas mitologicas</p>
            <img src="ruins.png" alt="">
            <p>Mitos mas <br>escuchados</p>
        </div>
</body>
