<div class="background">
    <div class="block">
        <label class="txt" for="post"> <img src="usericon.png" class="icon">Inicia Sesion</label><br>
        <form method="post" name="post" id="post">
            <label for="mail">Email</label><br>
            <input type="email" name="mail" id="mail" required><br>
            <label for="passwd">Contraseña</label><br>
            <input type="password" name="passwd" id="passwd" required>
            <p>¿OLVIDASTE LA CONTRASEÑA?</p> 
            <button type="submit" class="login" routerLink="/home" >Iniciar Sesion</button>
        </form>
        <br>
    </div>
    <img src="arrowb.png" class="arrowb" routerLink="/"> <img src="arrowc.png" class="arrowc" routerLink="/home">
    <img src="eye.png" class="eye">
</div>
